.currency-div{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 450px;
    height: 150px;
    border: .1px solid black;
    border-radius: 2%;
    background-color: rgba(154, 168, 168, 0.255);
 
}

.amount{
    width: 80px;
    height: 25px;
    margin-right: 10px;
}

.from-currency-option{
    width: 70px;
    height: 30px;
    margin-right: 10px;
}

.to-currency-option{
    width: 70px;
    height: 30px;
    margin-right: 10px;
}

.result{
    width: 80px;
    height: 25px;
    margin-right: 10px;
}

